.header {
  text-align: center;
  margin-bottom: 3rem;
  color: #f1f0fa;
}

.title {
  font-size: clamp(2rem, 10vw, 3rem);
  font-weight: 600;
  margin-bottom: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.description {
  font-size: clamp(1rem, 4vw, 1.5rem);
  font-weight: 400;
}

.description>a {
  text-decoration: underline;
  transition: color .2s ease;

  &:hover {
    color: #fff;
  }
}