@use "@/styles/mixins" as m;

.artCard {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  padding-bottom: 24px + 40px; // 24px + link height
  box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
  transition: transform .2s ease;
}

@include m.very-small {
  .artCard {
    padding: 16px;
    padding-bottom: 16px + 40px;
  }
}

.artCard .frame {
  background: #fafafa;
  border: 1px solid #e2e8f0;
  aspect-ratio: 4 / 3;
  border-radius: 8px;
  margin-bottom: 16px;
  @include m.center-x-y;
  overflow: hidden;
}

.artCard .title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #2d3748;
}

.artCard .description {
  color: #718096;
  font-size: .9rem;
  line-height: 1.5;
  margin-bottom: 24px;
}

.artCard .links {
  position: absolute;
  bottom: 24px;
}

.artCard .links .link {
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #000;
  color: #fff;
  padding: 11px 19px;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
  outline-offset: 0;
  transition: background .2s ease, outline-offset .2s ease;

  &:hover {
    background: #2d3748;
  }

  &:focus-visible {
    outline: 2px solid #2d3748;
    outline-offset: 2px;
  }
}

.artCard .links .link>svg {
  width: 16px;
  height: 16px;
}