@use "@/styles/mixins" as m;

.artCard {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding-bottom: 24px + 40px; // 24px + link height
  box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
  transition: transform .2s ease;
}