@use "@/styles/mixins" as m;

.artCard {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding-bottom: 24px + 40px; // 24px + link height
  box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
  transition: transform .2s ease;
}

.artCard .frame {
  background: #fafafa;
  border-radius: 12px 12px 0 0;
  margin-bottom: 16px;
  aspect-ratio: 4 / 2.4;
  @include m.center-x-y;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 84%, 78% 100%, 0 100%, 0 0);
  filter: brightness(.9);
  transition:
    filter .2s ease,
    outline-offset .2s ease;

  &:hover {
    filter: brightness(1.05);
  }

  &:focus-visible {
    filter: brightness(1.05);
    outline-offset: -2px;
    outline: 2px solid rgb(255, 112, 29);
  }
}

@include m.medium {
  .artCard .frame {
    aspect-ratio: 4 / 2.6;
  }
}